<mat-grid-list class="container ata" cols="4" rowHeight="fit">
  <mat-grid-tile [colspan]="1">
    <div class="sidebar">
      <jovam-sidebar>
        <ul class="informativo">
          <li
            (click)="selectedAta = ata"
            *ngFor="let ata of atas"
            class="informativo-item"
          >
            <span class="title">{{ ata.titulo }}</span>
            <span class="subtitle">{{ ata.subtitulo }}</span>
            <span class="name">{{ ata.requisicao.titulo }}</span>
            <mat-divider> </mat-divider>
          </li>
        </ul>
      </jovam-sidebar>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="body">
      <div *ngIf="selectedAta" class="ata-content">
        <h1>{{ selectedAta?.titulo }}</h1>
        <h2>{{ selectedAta?.subtitulo }}</h2>
        <h3><b>Requisição:</b> {{ selectedAta?.requisicao?.titulo }}</h3>
        <p>
          {{ selectedAta?.descricao }}
        </p>
        <mat-divider *ngIf="false"> </mat-divider>
        <form
          *ngIf="false"
          class="ata-form"
          [formGroup]="atasFormGroup"
        >
          <h3>Escrever uma Ata de resposta</h3>
          <mat-form-field>
            <mat-label>Título</mat-label>
            <input formControlName="title" id="txtTitle" matInput />
            <mat-hint>Máximo de 50 caracteres</mat-hint>
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Assunto</mat-label>
            <input formControlName="subject" id="txtSubject" matInput />
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Texto da ATA</mat-label>
            <textarea formControlName="text" id="txtText" matInput></textarea>
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>
          <button
            [disabled]="atasFormGroup.invalid"
            id="btnSend"
            color="primary"
            mat-raised-button
          >
            ENVIAR
          </button>
        </form>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
