.ata {
  .ata-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      margin-bottom: 1rem;
      width: 150px;
      align-self: flex-end;
    }
  }
}
