.header{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    background-color: black;
    color: #fff;

    menu{
        width: 100%;
        ul{
            display: flex;
            text-transform: uppercase;
            li{
                margin-right: 1.5rem;
            }
        }
    }
}