.header{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    background-color: black;
    color: #fff;
    img{
        height: 5vh;
        object-fit: cover;
    }

    menu{
        width: 100%;
        ul{
            display: flex;
            text-transform: uppercase;
            li{
                margin-right: 1.5rem;
                cursor: pointer;
            }
        }
    }
    button{
        margin-right: 1rem;
    }
}