<div class="login">
  <div class="logo">
    <img src="../../../assets/logo_login.png" height="80px" alt="logo" />
  </div>
  <h1>Faça o Login</h1>
  <form [formGroup]="loginForm">
    <mat-radio-group color="primary" formControlName="profile" class="user-type">
      <mat-radio-button value="conselho">CONSELHO</mat-radio-button>
      <mat-radio-button value="secretaria">SECRETARIA</mat-radio-button>
    </mat-radio-group>
    <div class="login-form">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input id="txtId" type="text" formControlName="id" matInput />
        <mat-error>Insira o id</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          id="txtPassword"
          type="password"
          formControlName="password"
          matInput
        />
        <mat-error>Insira a senha</mat-error>
      </mat-form-field>
    </div>
  </form>
  <button
    [disabled]="loginForm.invalid"
    (click)="login()"
    id="btnEntrar"
    color="primary"
    mat-raised-button
  >
    ENTRAR
  </button>
</div>
