$login-width: 20rem;
$border-color: rgba(33, 37, 41, 0.25);
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .user-type{
        display: flex;
        width: $login-width;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1rem;

        .mat-radio-button{
            margin-bottom: 1rem;
        }
    }

    .login-form{
        display: flex;
        flex-direction: column;
        width: $login-width;
        padding: 1rem 0;
        border-bottom: 1px solid $border-color;
        margin-bottom: 1rem;
        
    }

    button{
        width: $login-width;
    }
}