.layout{
    height: 100%;
    overflow: hidden;

    header{
        display: block;
        height: 10vh;
        width: 100%;
    }

    main{
        display: block;
        width: 100%;
        height: 90vh;
    }
}