/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
li {
  list-style: none;
}
.pb-0 > * {
  padding-bottom: 0;
}

.mat-grid-tile-content {
  overflow-y: auto;
}

.sidebar {
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container {
  height: 90vh;
}

.mat-list-item-content{
  color: #fff;
}

.informativo {
  .informativo-item {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;

    .title {
      font-size: 18px;
    }
    .subtitle,
    .name {
      font-size: 14px;
    }

    .mat-divider {
      margin-top: 1.5rem;
      background-color: #fff;
    }
  }

  .informativo-item:hover {
    color: rgb(246, 166, 166);
  }
}
