/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
li {
  list-style: none;
}
.pb-0 > * {
  padding-bottom: 0;
}

.mat-grid-tile-content {
  overflow-y: auto;
}

.sidebar {
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
  padding: 1rem;
}

.container {
  height: 90vh;
}

.mat-list-item-content{
  color: #fff;
}
