<mat-grid-list class="container requisicao" cols="4" rowHeight="fit">
  <mat-grid-tile [colspan]="1">
    <div class="sidebar">
      <jovam-sidebar>
        <ul class="informativo">
          <li class="informativo-item">
            <button (click)="isCreateMode = true" color="primary" mat-raised-button>NOVA REQUISIÇÃO</button>
            <mat-divider> </mat-divider>
          </li>
          <li
            (click)="selectedRequisicao = requisicao; isCreateMode = false;"
            *ngFor="let requisicao of requisicoes"
            class="informativo-item"
          >
            <span class="titulo">{{ requisicao.titulo }}</span>
            <span class="subtitulo">{{ requisicao.subtitulo }}</span>
            <span class="descricao">{{ requisicao.secretaria.nome }}</span>
            <mat-divider> </mat-divider>
          </li>
        </ul>
      </jovam-sidebar>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="body">
      <div *ngIf="!isCreateMode" class="requisicao-information">
        <h1>{{ selectedRequisicao?.titulo }}</h1>
        <h2>{{ selectedRequisicao?.subtitulo }}</h2>
        <p>
          {{ selectedRequisicao?.descricao }}
        </p>
      </div>

      <form *ngIf="isCreateMode" class="requisicao-form" [formGroup]="requisicoesFormGroup">
        <h3>Escrever uma requisicao</h3>
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input formControlName="titulo" id="txtTitle" matInput />
          <mat-hint>Máximo de 50 caracteres</mat-hint>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Assunto</mat-label>
          <input formControlName="subtitulo" id="txtSubject" matInput />
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Texto da requisicao</mat-label>
          <textarea formControlName="descricao" id="txtText" matInput></textarea>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
        <button
          [disabled]="requisicoesFormGroup.invalid"
          id="btnSend"
          color="primary"
          (click)="sendRequisicao()"
          mat-raised-button
        >
          ENVIAR
        </button>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
